  <mat-card appearance="outlined" class="settings">
    <form class="card-form" [formGroup]="settingForm">
      <div class="card-settings">
        <mat-form-field
          appearance="outline"
          id="month"
          subscriptSizing="dynamic"
        >
          <mat-label>Miesiące</mat-label>
          <mat-select formControlName="month">
            <mat-option [value]="0">Styczeń</mat-option>
            <mat-option [value]="1">Luty</mat-option>
            <mat-option [value]="2">Marzec</mat-option>
            <mat-option [value]="3">Kwiecień</mat-option>
            <mat-option [value]="4">Maj</mat-option>
            <mat-option [value]="5">Czerwiec</mat-option>
            <mat-option [value]="6">Lipiec</mat-option>
            <mat-option [value]="7">Sierpień</mat-option>
            <mat-option [value]="8">Wrzesień</mat-option>
            <mat-option [value]="9">Październik</mat-option>
            <mat-option [value]="10">Listopad</mat-option>
            <mat-option [value]="11">Grudzień</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          id="year"
          subscriptSizing="dynamic"
        >
          <mat-label>Rok</mat-label>
          <input
            matInput
            type="number"
            min="2024"
            formControlName="year"
            size="4"
            maxlength="4"
          />
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Podaj numery kart oddziel przecinkami:</mat-label>
          <input matInput type="text" formControlName="cards" />
        </mat-form-field>
      </div>
      <mat-slide-toggle formControlName="empty">Pusta karta</mat-slide-toggle>
      <div class="card-actions">
        <button
          mat-fab
          extended
          type="button"
          (click)="generate()"
          [disabled]="!settingForm.valid && !settingForm.controls.empty.value"
        >
          <mat-icon>description</mat-icon>Generuj Karty
        </button>
        <button mat-fab extended type="button" (click)="print()">
          <mat-icon>print</mat-icon>Drukuj
        </button>
        <button mat-fab extended type="button" (click)="clear()">
          <mat-icon>delete</mat-icon>Wyczyść Karty
        </button>
      </div>
    </form>
  </mat-card>
  <app-cards [cards]="cards()" [month]="month" [year]="year" />
